[submodule "backend"]
	path = backend
	url = https://github.com/SiveruhinMihail/Taskly-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SiveruhinMihail/Taskly-frontend.git
